<p id="notice"><%= notice %></p>

<p>
  <strong>Mascot:</strong>
  <%= @team.mascot %>
</p>

<p>
  <strong>Home location:</strong>
  <%= @team.home_location %>
</p>

<p>
  <strong>Name:</strong>
  <%= @team.name %>
</p>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
